nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.heading{
  color: var(--color-white);
  font-size: 4rem;
}

.Tilt{
  margin-top: 4rem;
  border: 1px solid rgba(255,255,255,.1);
  box-shadow: 15px 27px 73px -23px rgba(0,0,0,0.74);
  background:  linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  margin-left: 4rem;
}

.Tilt-inner{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_logo path{
  fill: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

.nav_logo{
  
  /* mask: url(image.svg) no-repeat 50% 50%; */
  max-width: 50%;
  height: 150px;
  width: auto;
  z-index: 2;
}

.nav-link{
  color: var(--color-white);
  font-size: 2rem;
  text-decoration:none;
  margin-right: 4rem;
  margin-top: 4rem;
}
